<div *ngIf="successfull_save" class="notice bg-success text-white text-center">Det lykkedes dig at oprette {{podcast_title | uppercase }}!</div>
<div *ngIf="error_message" class="notice bg-warning text-white text-center">Løs fejlen før du fortsætter: {{error_message}}</div>
<div class="container mt-4">

  <form [formGroup]="podcastForm" (ngSubmit)="podcastSubmit(podcastForm)">

    <div class="form-group">
      <input class="form-control form-control-lg" placeholder="Titlen" type="text" formControlName="title" />
    </div>

    <div class="form-group">
      <input class="form-control" type="text" placeholder="Undertitel" formControlName="subtitle" />
    </div>

    <div class="form-group">
      <textarea class="form-control" placeholder="Resumé" rows="3" formControlName="summary"></textarea>
    </div>

    <div formArrayName="audios_attributes" *ngFor="let audio of podcastForm.get('audios_attributes').controls; let i=index;">

      <div class="border p-2 m-2" [formGroupName]="i">
        <button class="btn btn-warning"
          *ngIf="podcastForm.controls.audios_attributes.controls.length > 1" (click)="removeAudio(i)">Fjern</button>
        <div class=""><span class="small p-2">{{i + 1}}</span></div>
        <div class="form-group"> <!-- audio titel -->
          <input type="text" placeholder="Audio titel" formControlName="title"> 
        </div>
        <div class="form-group"> <!-- audio url -->
          <input type="text" placeholder="Url" formControlName="url"> 
          <small class="form-text text-muted">Du skal huske http eller https før URL'en</small>
        </div>
      </div>

    </div><!-- formArray end -->
    <button class="btn btn-secondary" (click)="addAudio()">Tilføj audiofil</button>
    <hr>

    <input type="submit" value="Gem podcast" class="btn btn-primary"/>

  </form>

</div>
