<button (click)="showForm()">Opret ny podcast</button>
<h1 class="frontpage-header">Forside</h1>
<div *ngIf="podcasts">
  <div #dom_podcasts *ngFor="let podcast of podcasts; let i=index">
    <div class="title">Podcast titel: {{podcast.title}}</div>
    <div class="border" *ngFor="let audio of podcast.audios; let aud_i=index">
      <button (click)="setPodcast(i)">Hør podcast</button>
      <div *ngIf="audio.duration" class="small">Længde: {{ showDomDuration(audio.duration) }}</div>
      <div class="small">Audio fil url: {{audio.url}}</div> 
      <img *ngIf="podcast.icon" class="image-thumb" [src]="podcast.icon">
    </div>
  </div>
</div>
